.message{data:{message_id:"#{message.id}"}}
  .message__upper-info
    .massage__upper-talker
      = message.user.name
    .massage__upper-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")

  .message__text
    - if message.content.present?
      -# %p{class:"message__text__content"}
      %p.message__text__content
        = message.content
    = image_tag message.image.url, class: 'message__text__image' if message.image.present?
